<p>
				<h3>Welcome to the home of everything you'll need to know for the Database labs this semester!</h3>
			</p>
			<p>
				Basic Info:
			</p>	
			<ul>
				<li>TA:   Luke Parham</li>
				<li>Time: 10:00 AM Tuesday</li>
				<li>Office Hours: 11:00 AM Wednesday (Thomaz: 7 PM Monday)</li>
				<li>Phone: (636) 237-3399</li>
			</ul>
			<p>
				Grading:
			</p>
			<ul>
				<li>Labs are due one week from the date assigned unless stated otherwise in lab.</li>
				<li>Labs may also be submitted ahead of time to <a href ="mailto:cs3380lab@gmail.com">cs3380lab@gmail.com</a></li>
				<li>Attendance will be taken each week and will be factored into lab grades.</li>
			</ul>