<h3>There will be 3 homeworks this semester</h3>

<h4>Homework 1</h4>
<p>Create a basic html page to get better with HTML/CSS/PHP.</p>
	<a class = "btn " href = "images/homework1.pdf" target = "_blank">View In Browser</a>