<div class = "container">
	<div class = "row">
		<div class = "span4"><p>Make a .sql file containing the appropriate Create Table Statements for the ERD provided</p>
			<img src = "images/erdLab4.jpg">
		</div>
	</div>
</div>