<h3>Lab One</h3>
  <p>An intro the the workings of HTML, CSS, and php.</p>
	<a class = "btn " href = "labs/LabExercise1.pdf" target = "_blank">View In Browser</a>

<h3>Lab Two</h3>
  <p>Using the $_SESSION hash to give your application state.</p>
	<a class = "btn " href = "labs/LabExercise2.pdf" target = "_blank">View In Browser</a>

<h3>Lab Three</h3>
  <p>Create a three relational tables and run some practice queries.</p>
	<a class = "btn " href = "/lab3">Lab 3</a>
